You can buy tickets for <strong>{{ include.ticket_details.weekend }}</strong> in <strong>{{
    include.ticket_details.location }}</strong> online through <a href="{{ include.ticket_details.vendor_url }}">{{
    include.ticket_details.vendor_name }}</a>.

{% if include.ticket_details.vendor_img == "bpt" %}
<a href="{{ include.ticket_details.vendor_url }}">
    <img src="assets/img/BPT_buy_tickets_large.png" alt="Tickets available now from Brown Paper Tickets" />
</a>
{% endif %}

{% if include.ticket_details.vendor_img == "mca" %}
<a href="{{ include.ticket_details.vendor_url }}">
    <img src="assets/img/mosesian-center-for-the-arts-buy-tickets.png"
        alt="Tickets available now from Brown Paper Tickets" />
</a>
{% endif %}

{% if include.ticket_details.extra_content_id %}
{% for extra_content in site.extra_content | where: "extra_content_id", include.ticket_details.extra_content_id %}
{{ extra_content }}
{% endfor %}
{% endif %}