{% assign tickets_available = false %}
{% assign auditions_available = false %}
{% for event in site.events %}

{% for ticket_details in event.tickets %}
{% if site.time < ticket_details.closed_datetime and ticket_details.vendor_url %}
{% assign tickets_available = true %}
{% endif %}
{% endfor %}

{% if site.time < event.auditions.closed_datetime %}
{% assign auditions_available = true %}
{% endif %}

{% endfor %}

<header class="site-header" role="banner">

  <div class="site-header-wrapper">
    {%- assign page_paths = site.data.navigation.header_pages -%}
    
    <div class="site-header-left-wrapper">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
        <img class="site-title-img" src="{{ site.title_img | relative_url }}" alt="{{ site.title | escape }}"/>
      </a>

      <div class="site-header-hero-links-wrapper">
        {% if site.data.navigation.tickets_page and tickets_available %}
        {% assign tickets_page = site.pages | where: "path", site.data.navigation.tickets_page | first %}
        <a href="{{ tickets_page.url | relative_url }}" class="tickets site-header-hero-link">
          Get Tickets
        </a>
        {% endif %}
        {% if site.data.navigation.auditions_page and auditions_available %}
        {% assign auditions = site.pages | where: "path", site.data.navigation.auditions_page | first %}
        <a href="{{ auditions.url | relative_url }}" class="auditions site-header-hero-link">
          Audition Now
        </a>
        {% endif %}
      </div>
    </div>

    {%- if page_paths -%}
      <nav class="site-nav">
        {%- include social.html -%}
        {% include nav_external_links.html %}
        <ul class="links-wrapper unstyled-list">
          {% for item in page_paths %}
            {% if item.page %}
            {% assign my_page = site.pages | where: "path", item.page | first %}
            {% assign item_id_src = my_page.title %}
            {% else %}
            {% assign item_id_src = item.label %}
            {% endif %}
            {% assign item_id = item_id_src | replace: " ", "-" %}

            <li class="links-item">
              {% if item.page %}
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              {% endif %}
              {% if item.label and item.page == nil %}
              <span>{{ item.label }}</span>
              {% endif %}
              {% if item.subpages %}
              <button
                id="menu-button-{{ item_id }}" 
                class="menu-button-dropdown" 
                aria-controls="submenu-{{ item_id }}" 
                aria-expanded="false"
              >
                <svg class="menu-button-caret-icon">
                  <title>{{ my_page.title | escape | default: item.label }}</title>
                  <use xlink:href="{{ '/assets/ui-icons.svg#caret' | relative_url }}"></use>
                </svg>
              </button>
              <ul class="links-submenu unstyled-list" id="submenu-{{ item_id }}">
                {% for subpage in item.subpages %}
                {% assign my_subpage = site.pages | where: "path", subpage | first %}
                <li>
                  <a class="page-link" href="{{ my_subpage.url | relative_url }}">{{ my_subpage.title }}</a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>

      <nav class="mobile-nav">
        <button class="mobile-nav-dialog-open-button icon-button" id="mobileNavDialogOpenButton">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <title>Show navigation</title>
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </button>
      </nav>
    {%- endif -%}
  </div>
</header>
