<div class="links-wrapper">
  <a class="page-link mobile-page-link" href="http://www.zazzle.com/postmeridianradio"
    >Shop
    <svg class="external-link-icon">
      <use
        xlink:href="{{ '/assets/ui-icons.svg#external-link' | relative_url }}"
      ></use>
    </svg>
  </a>
  <a class="page-link mobile-page-link" href="https://pmrppodcast.buzzsprout.com"
    >Podcast
    <svg class="external-link-icon">
      <use
        xlink:href="{{ '/assets/ui-icons.svg#external-link' | relative_url }}"
      ></use>
    </svg>
  </a>
  <a class="page-link mobile-page-link" href="https://pmrp.bandcamp.com"
    >Bandcamp
    <svg class="external-link-icon">
      <use
        xlink:href="{{ '/assets/ui-icons.svg#external-link' | relative_url }}"
      ></use>
    </svg>
  </a>
</div>
