/**
 * Basic styles on plain HTML elements
 */

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: 15px;
}

/**
 * `main` element
 */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: 30px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 15px;
}

dt {
  font-weight: var(--font-weight-bold);
}

@media screen and (max-width: 600px) {
  dl {
    grid-template-columns: auto;
  }

  dd {
    margin-bottom: 10px;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-normal);
}

/**
 * Links
 */
a {
  color: var(--color-link);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
  color: var(--color-text-subtle-2);
  border-left: 4px solid var(--color-border-subtle);
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid var(--color-border-subtle);
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}

pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: rgb(62.9, 62.9, 62.9);
  border-collapse: collapse;
  border: 1px solid var(--color-border-subtle);
}

table tr:nth-child(even) {
  background-color: rgb(247.3, 247.3, 247.3);
}

table th,
table td {
  padding: 9.999999999px 15px;
}

table th {
  background-color: rgb(239.65, 239.65, 239.65);
  border: 1px solid rgb(221.8, 221.8, 221.8);
  border-bottom-color: rgb(201.4, 201.4, 201.4);
}

table td {
  border: 1px solid var(--color-border-subtle);
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: color-mix(in hsl, var(--color-bg) 80%, black);
}

/* Paragraph tags keep creeping into list items, where we
never want them to look like paragraphs. */
li > p:only-child {
  display: contents;
}
