@import "reset.css";
@import "variables.css";
@import "base.css";

.wip-banner {
  text-align: center;
  background-color: var(--color-primary);
  color: white;
  padding: 5px;
  border-bottom: 4px solid black;
}

.wip-banner :is(a, a:visited) {
  color: white;
}

.library-patron {
  font-size: larger;
  font-weight: bold;
}

/**
 * Icons
 */
.svg-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: var(--color-text);
}

.external-link-icon {
  width: 0.5lh;
  height: 0.5lh;
  display: inline-block;
  fill: var(--color-text);
  margin-left: 3px;
}

/**
 * Buttons
 */
button.icon-button {
  width: 32px;
  height: 32px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * List
 */

.unstyled-list {
  margin: 0;
  list-style: none;
}

/**
 * Content Wrapper
 */
.content-wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - 30px * 2);
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 850px) {
  .content-wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/**
 * Clearfix
 */
.content-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Site header
 */
.site-header {
  background-color: #ececec;
  padding: 10px;
}

.site-header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-left-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.site-header-hero-links-wrapper {
  display: flex;
  flex-direction: column;
}

.site-header-hero-link {
  font-size: 1.1rem;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: white !important;
  text-align: center;
}

.site-header-hero-link:not(:only-child) {
  padding-block: 4px;
}

.site-header-hero-link:first-child:not(:only-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.site-header-hero-link:last-child:not(:only-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.site-header-hero-link:hover {
  text-decoration: none;
}

.tickets.site-header-hero-link {
  background-color: var(--color-primary);
}

.tickets.site-header-hero-link:hover {
  background-color: color-mix(in oklab, var(--color-primary), black 10%);
}

.auditions.site-header-hero-link {
  background-color: var(--color-text);
}

.auditions.site-header-hero-link:hover {
  background-color: color-mix(in oklab, var(--color-text), white 25%);
}

@media screen and (max-width: 850px) {
  .site-header-hero-link {
    font-size: 0.9rem;
  }
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  flex-shrink: 0;
}
.site-title,
.site-title:visited {
  color: var(--color-text-subtle-1);
}

.site-title .site-title-img {
  height: 5rem;
}

@media screen and (max-width: 850px) {
  .site-title .site-title-img {
    height: 3.5rem;
  }
}

.site-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

@media screen and (max-width: 850px) {
  .site-nav {
    display: none;
  }
}

.site-nav .page-link {
  color: var(--color-text);
  line-height: 1.5;
  font-weight: var(--font-weight-normal);
}

.links-wrapper {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

/**
 * Mobile nav
 */
.mobile-nav {
  display: none;
}

@media screen and (max-width: 850px) {
  .mobile-nav {
    display: contents;
  }

  .mobile-nav .mobile-nav-control-wrapper {
    justify-self: end;
  }
}

@media screen and (min-width: 800px) {
  .mobile-nav-dialog {
    display: none;
  }
}

.mobile-nav-dialog {
  position: fixed;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  border: 1px solid var(--color-border-subtle);
  border-radius: 12px;
  background-color: var(--color-bg);
  padding: 20px;
}

.mobile-nav-dialog .mobile-nav-dialog-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.mobile-nav-dialog .mobile-nav-dialog-title-img {
  height: 3rem;
}

.mobile-nav-dialog .mobile-links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5px;
}

.mobile-nav-dialog .mobile-page-link {
  color: var(--color-text);
  font-weight: var(--font-weight-normal);
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid var(--color-border-subtle);
  padding: 30px 0;
}

.site-footer a {
  color: var(--color-text);
}

.footer-links-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links-col {
  width: 30%;
}

@media screen and (max-width: 850px) {
  .footer-links-col {
    width: 100%;
  }
}

.footer-sublinks-wrapper {
  padding-left: 10px;
}

.footer-sublinks-wrapper a {
    font-weight: revert;
}

.social-media a:hover {
  text-decoration: none;
}

.social-media {
  display: flex;
  gap: 10px;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  flex: 1;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 14px;
  color: var(--color-text-subtle-2);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 850px) {
  .post-title {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: 30px;
}
.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 850px) {
  .post-content h2 {
    font-size: 28px;
  }
}
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 850px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 850px) {
  .post-content h4 {
    font-size: 18px;
  }
}

aside.callout {
  background-color: var(--color-bg-primary);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
}

aside.callout > :last-child {
  margin-bottom: 0;
}
