@import "reset.css";
@import "variables.css";
@import "base.css";

.wip-banner {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  background-color: hotpink;
  color: white;
  padding: 5px;
  border-bottom: 4px solid black;
}

.wip-banner :is(a, a:visited) {
  color: white;
}

@media screen and (max-width: 600px) {
  .wip-banner {
    padding-right: 60px;
  }
}

/**
 * Icons
 */
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: var(--color-text-subtle-2);
  padding-right: 5px;
  vertical-align: text-top;
}

/**
 * Content Wrapper
 */
.content-wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - 30px * 2);
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  .content-wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/**
 * Clearfix
 */
.footer-col-wrapper:after,
.content-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Site header
 */
.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
}
.site-title,
.site-title:visited {
  color: var(--color-text-subtle-1);
}

.site-title .site-title-img {
  height: 5rem;
}

.site-nav {
  line-height: 54px;
}
.site-nav .page-link {
  color: var(--color-text);
  line-height: 1.5;
  font-weight: var(--font-weight-normal);
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid var(--color-border);
  padding: 30px 0;
}

.social-media-list a:hover {
  text-decoration: none;
}
.social-media-list a:hover .username {
  text-decoration: underline;
}

.social-media-list li + li {
  padding-top: 5px;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-col-wrapper {
  font-size: 15px;
  color: var(--color-text-subtle-2);
  margin-left: -15px;
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - 30px / 2);
}

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - 30px / 2);
}

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - 30px / 2);
}

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - 30px / 2);
  }
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - 30px / 2);
  }
}
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - 30px / 2);
  }
}

/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  flex: 1;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 14px;
  color: var(--color-text-subtle-2);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 800px) {
  .post-title {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: 30px;
}
.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 800px) {
  .post-content h2 {
    font-size: 28px;
  }
}
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 800px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 18px;
  }
}
