@import "reset.css";
@import "variables.css";
@import "base.css";

.wip-banner {
  text-align: center;
  background-color: var(--color-primary);
  color: white;
  border-bottom: 4px solid black;
  padding: 5px;
  width: 100%;
}

.wip-banner :is(a, a:visited) {
  color: white;
}

.library-patron {
  font-size: larger;
  font-weight: bold;
}

/**
 * Icons
 */
.svg-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: var(--color-text);
}

.external-link-icon {
  width: 0.5lh;
  height: 0.5lh;
  display: inline-block;
  fill: var(--color-text);
  margin-left: 3px;
}

/**
 * Buttons
 */
button.icon-button {
  width: 32px;
  height: 32px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * List
 */

.unstyled-list {
  margin: 0;
  list-style: none;
}

/**
 * Responsive table
 */

.responsive-xscroll-outer-wrapper {
  overflow-x: auto;
  margin-inline: calc(-1 * var(--space-outer-gutter));
  margin-bottom: calc(var(--space-vertical-rhythm) * 2);
  display: flex;
}

.responsive-xscroll-wrapper {
  padding-inline: var(--space-outer-gutter);
  flex-grow: 1;
}

.responsive-xscroll-outer-wrapper table {
  margin-bottom: 0;
}

/**
 * Content Wrapper
 */
.content-wrapper {
  max-width: -webkit-calc(800px - var(--space-outer-gutter) * 4);
  max-width: calc(800px - var(--space-outer-gutter) * 4);
  margin-right: auto;
  margin-left: auto;
  padding-right: calc(var(--space-outer-gutter) * 2);
  padding-left: calc(var(--space-outer-gutter) * 2);
}
@media screen and (max-width: 850px) {
  .content-wrapper {
    max-width: -webkit-calc(800px - var(--space-outer-gutter) * 2);
    max-width: calc(800px - var(--space-outer-gutter) * 2);
    padding-right: var(--space-outer-gutter);
    padding-left: var(--space-outer-gutter);
  }
}

/**
 * Clearfix
 */
.content-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Site header
 */
.site-header {
  background-color: #ececec;
  padding: 10px;
}

.site-header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-left-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.site-header-hero-links-wrapper {
  display: flex;
  flex-direction: column;
}

.site-header-hero-link {
  font-size: 1.1rem;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: white !important;
  text-align: center;
}

.site-header-hero-link:not(:only-child) {
  padding-block: 4px;
}

.site-header-hero-link:first-child:not(:only-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.site-header-hero-link:last-child:not(:only-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.site-header-hero-link:hover {
  text-decoration: none;
}

.tickets.site-header-hero-link {
  background-color: var(--color-primary);
}

.tickets.site-header-hero-link:hover {
  background-color: color-mix(in oklab, var(--color-primary), black 10%);
}

.auditions.site-header-hero-link {
  background-color: var(--color-text);
}

.auditions.site-header-hero-link:hover {
  background-color: color-mix(in oklab, var(--color-text), white 25%);
}

@media screen and (max-width: 850px) {
  .site-header-hero-link {
    font-size: 0.9rem;
  }
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  flex-shrink: 0;
}
.site-title,
.site-title:visited {
  color: var(--color-text-subtle-1);
}

.site-title .site-title-img {
  height: 5rem;
}

@media screen and (max-width: 850px) {
  .site-title .site-title-img {
    height: 3.5rem;
  }
}

.site-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

@media screen and (max-width: 850px) {
  header .site-nav {
    display: none;
  }
}

.site-nav .page-link {
  color: var(--color-text);
  line-height: 1.5;
  font-weight: var(--font-weight-normal);
}

.links-wrapper {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.links-item {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
}

[aria-expanded=false] + .links-submenu {
  display: none;
}

.links-submenu {
  position: absolute;
  background-color: var(--color-bg-primary);
  top: 1.2lh;
  padding: 12px;
  width: calc(100% + 24px);
  margin-left: -12px;
  border: 1px solid var(--color-text-subtle-1);
  border-radius: 12px;
}

button.menu-button-dropdown {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-primary);
  border-radius: 20%;
  padding: 0;
}

.menu-button-caret-icon {
  --icon-side: 1lh;
  width: var(--icon-side);
  height: var(--icon-side);
}

/**
 * Mobile nav
 */
.mobile-nav {
  display: none;
}

@media screen and (max-width: 850px) {
  .mobile-nav {
    display: contents;
  }

  .mobile-nav .mobile-nav-control-wrapper {
    justify-self: end;
  }
}

@media screen and (min-width: 850px) {
  .mobile-nav-dialog {
    display: none;
  }
}

.mobile-nav-dialog {
  position: fixed;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  border: 1px solid var(--color-border-subtle);
  border-radius: 12px;
  background-color: var(--color-bg);
  padding: 20px;
}

.mobile-nav-dialog .mobile-nav-dialog-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.mobile-nav-dialog .mobile-nav-dialog-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

.mobile-nav-dialog .mobile-nav-dialog-title-img {
  height: 3rem;
}

.mobile-nav-dialog .site-nav {
  align-items: center;
  gap: 12px;
}

.mobile-nav-dialog .menu-button-dropdown {
  display: none;
}

.mobile-nav-dialog .links-wrapper:has(.links-submenu) {
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-weight: bold;
  text-align: center;
}

.mobile-nav-dialog .links-wrapper:has(.links-submenu) .page-link {
  font-weight: bold;
}

.mobile-nav-dialog .links-wrapper .links-submenu .page-link {
  font-weight: normal;
}

.mobile-nav-dialog .links-item {
  flex-direction: column;
  align-items: center;
}

.mobile-nav-dialog .links-submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: revert;
  padding: 0;
  margin: 0;
  border: revert;
  border-radius: revert;
  background: revert;
  width: revert;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid var(--color-border-subtle);
  padding: 30px 0;
}

.site-footer a {
  color: var(--color-text);
}

.site-footer .site-footer-contents {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-links-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links-col {
  width: 30%;
}

@media screen and (max-width: 850px) {
  .footer-links-col {
    width: 100%;
  }
}

.footer-sublinks-wrapper {
  padding-left: 10px;
}

.footer-sublinks-wrapper a {
  font-weight: revert;
}

.social-media a:hover {
  text-decoration: none;
}

.social-media {
  display: flex;
  gap: 10px;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

/**
 * Page content
 */
.page-content {
  padding: calc(2 * var(--space-vertical-rhythm)) 0;
  flex: 1;
}

.post-list {
  margin-left: 0;
  list-style: none;
}

.post-list > li {
  margin-bottom: calc(2 * var(--space-vertical-rhythm));
}

.post-meta {
  font-size: 14px;
  color: var(--color-text-subtle-2);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: calc(2 * var(--space-vertical-rhythm));;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 850px) {
  .post-title {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: calc(2 * var(--space-vertical-rhythm));;
}
.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 850px) {
  .post-content h2 {
    font-size: 28px;
  }
}
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 850px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 850px) {
  .post-content h4 {
    font-size: 18px;
  }
}

aside.callout {
  background-color: var(--color-bg-primary);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: var(--space-vertical-rhythm);
}

aside.callout > :last-child {
  margin-bottom: 0;
}
