:root {
  --color-bg: hsl(48deg, 100%, 97%);
  --color-bg-secondary: hsl(37, 65%, 85%);
  --color-bg-secondary-subtle: hsl(40, 65%, 90%);
  --color-bg-primary: hsl(0deg, 65%, 90%);
  --color-primary: #900B09;
  --color-text: #111;
  --color-text-subtle-1: rgb(66.25, 66.25, 66.25);
  --color-text-subtle-2: #828282;
  --color-link: hsl(198, 60%, 25%);
  --color-link-hover: hsl(198, 60%, 20%);
  --color-link-visited: hsl(270, 65%, 25%);
  --color-border: hsl(40, 65%, 50%);
  --color-border-subtle: hsl(29, 50%, 80%);

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --space-vertical-rhythm: 20px;
  --space-outer-gutter: 15px;  
}
