{%- assign page_paths = site.data.navigation.header_pages -%}
{%- if page_paths -%}
<nav class="site-nav">
    {% include header/social.html %}
    {% include header/nav_external_links.html %}
    <ul class="links-wrapper unstyled-list">
        {% for item in page_paths %}
        {% if item.page %}
        {% assign my_page = site.pages | where: "path", item.page | first %}
        {% assign item_id_src = my_page.title %}
        {% else %}
        {% assign item_id_src = item.label %}
        {% endif %}
        {% assign item_id = item_id_src | replace: " ", "-" %}

        <li class="links-item">
            {% if item.page %}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
            {% if item.label and item.page == nil %}
            <span>{{ item.label }}</span>
            {% endif %}
            {% if item.subpages %}
            <button
            id="menu-button-{{ item_id }}" 
            class="menu-button-dropdown" 
            aria-controls="submenu-{{ item_id }}" 
            aria-expanded="false"
            >
            <svg class="menu-button-caret-icon">
                <title>{{ my_page.title | escape | default: item.label }}</title>
                <use xlink:href="{{ '/assets/ui-icons.svg#caret' | relative_url }}"></use>
            </svg>
            </button>
            <ul class="links-submenu unstyled-list" id="submenu-{{ item_id }}">

            {% if item.page == "upcoming.md" %}
            {% for event in site.events %}
            {% if site.time < event.closed_datetime %}
            <li>
                <a class="page-link" href="{{ event.url | relative_url }}">{{ event.title }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% for season in site.seasons %}
            {% if site.time < season.closed_datetime %}
            <li>
                <a class="page-link" href="{{ season.url | relative_url }}">{{ season.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}

            {% for subpage in item.subpages %}
            {% assign my_subpage = site.pages | where: "path", subpage | first %}
            <li>
                <a class="page-link" href="{{ my_subpage.url | relative_url }}">{{ my_subpage.title }}</a>
            </li>
            {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
