<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>
  <div class="wip-banner">
    This site is a work in progress. Visit the current site at <a href="https://pmrp.org">pmrp.org</a>.
  </div>

  <div class="site-wrapper">
    {%- comment -%}
    <header class="site-header" />
    {%- endcomment -%}
    {%- include header.html -%}

    <div class="page-wrapper">
      <main class="page-content" aria-label="Content">
        <div class="content-wrapper">
          {{ content }}
        </div>
      </main>

      {%- comment -%}
      <footer class="site-footer" />
      {%- endcomment -%}
      {%- include footer.html -%}
    </div>
    </div>
</body>

</html>